/* * {
  font-family: 'Kiona', sans-serif;
} */

@font-face {
  font-family: 'KionaBold';
  src: local('FontsFree'), url(./fonts/FontsFree-Net-Kiona-Bold.ttf) format('truetype');
}
@layer utilities {
  @variants responsive {
      .masonry-3-col {
          column-count: 6;
          column-gap: 0;
      }
      .masonry-2-col {
          column-count: 2;
          column-gap: 1em;
      }
      .break-inside {
          break-inside: avoid;
      }
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
